{% extends 'base.html' %} {% load static %} {% block content %}
<div class="form-frame">
  <form method="GET">
    <fieldset>
      <p>English translate for a given text.</p>
      <div class="form-fields">
        <div class="form-group">
          <label for="text" class="form-label mt-4">Enter your text</label>
          <textarea
            class="form-control"
            id="text_text"
            name="text_text"
            rows="3"
            placeholder="{{text_text}}"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="model-select" class="form-label mt-4">Model</label>
          <select class="form-select" id="model-select" name="text_model">
            {% for model in models_records %} {% if model.id == text_model %}
            <option value="{{model.id}}" selected>{{model.name}}</option>
            {% else %}
            <option value="{{model.id}}">{{model.name}}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary" name="text">
          Translate
        </button>
      </div>
    </fieldset>
  </form>
</div>
{% if text_translated_text %}
<div class="result-frame">
  <div class="alert alert-dismissible alert-info">
    <strong>Translation: </strong> {{text_translated_text}}
  </div>
</div>
{% endif %} {% endblock %}
